<div class='banner' style="background-color: <%= banner.background_color %>;">
  <div class='content' >
    <%= image_tag banner.site.icon %>
    <h1 class='title' style="color: <%= banner.title_color %>;"> <%= banner.site.title %></h1>
  </div>
</div>
